/* TABLE STYLES */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #003366;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #003366;
  color: white;
}

table tr:nth-child(even) {
  background-color: #eef3ff;
}

/* PDF BUTTON */
.pdf-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #003366;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.25s;
}

.pdf-button:hover {
  background-color: #0af;
  color: #003366;
  transform: translateY(-3px);
}
